.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    border-radius: 4px;
    padding: 8px 4px;
}

label,
button {
    display: inline-block;
    margin: 8px 0;
}

button {
    float: right;
}